<?xml version="1.0" encoding="ISO-8859-2"?><!--This is application main configuration file. Please don't edit manually--><CommunicationServer><TCPIPServer><ServerPort>6810</ServerPort><RootDirectory>/opt/MagikSrv/</RootDirectory><UserName /><Password /></TCPIPServer><MainForm><AlwaysOnTop>0</AlwaysOnTop><MinimizeOnStartup>1</MinimizeOnStartup><StartServerOnApplicationStartup>1</StartServerOnApplicationStartup></MainForm><DatabaseConnection><ConnectionString>Server=ComputerName\MagikINFO; Database=magikinfo; Workstation ID=ComputerName; uid=sa;pwd=MagikINFO2011</ConnectionString></DatabaseConnection><POP3Server><ServerName></ServerName><ServerPort>110</ServerPort><UserName>@</UserName><Password></Password></POP3Server><HelpDeskStruct><EnableHdRequestsProcessing>0</EnableHdRequestsProcessing><NewHdRequestsCheckIntervalMins>5</NewHdRequestsCheckIntervalMins><AttachmentsSharedDirectory></AttachmentsSharedDirectory></HelpDeskStruct></CommunicationServer>
